<div class="div-container">
    <div class="submit-form mt-4">
      <div class="d-flex justify-content-around">
              <h2><b> Editar usuario </b></h2>
      </div>

      <form [formGroup]="formUser">

      <div class="form-group">
        <label for="title">Nombre</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          name="name"
        />
      </div>
  
      <div class="form-group">
        <label for="description">Apellidos</label>
        <input
          class="form-control"
          formControlName="lastName"
          name="lastName"
        />
      </div>

      <div class="form-group">
        <label for="description">edad</label>
        <input
         type="number"
         min="1"
         max="99"
         formControlName="age"
         class="form-control"
         name="age"
        />
      </div>

      <div class="form-group">
        <label for="description">email</label>
        <input
         type="email"
          class="form-control"
          formControlName="email"
          name="email"
        />
      </div>

      <div class="form-group">
        <label for="description">descripción</label>
        <textarea
          class="form-control"
          rows="6"
          formControlName="description"
          name="description"
        ></textarea>
      </div>
      <div class="d-flex justify-content-around pt-3">
      <button type="button" (click)="save()"  [disabled]="!formUser.valid" class="btn btn-primary btn-lg btn-block">Guardar </button>
      </div>
      </form>
    </div>
  </div>
  