
<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand p-3">Prueba Angular</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="home()"> Dashboard </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"(click)="addUser()"  >Agregar Usuario</a>
        </li>
      </div>
    </nav>
  </div>

