<div class="pt-5"> 
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Edad</th>
                <th scope="col">Correo</th>
                <th scope="col">Descripción</th>
                <th scope="col"></th>
                <th scope="col"><button class="btn btn-info" (click)="newUser()">Agregar nuevo</button></th>
       

              </tr>
        </thead>      
        <tbody>
            <tr *ngFor="let user of listUser">
                <td>{{user.name}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.age}}</td>
                <td>{{user.email}}</td>
                <td>{{user.description}}</td>
                <td><button class="btn btn-success" (click)="editUser(user)">Editar</button></td>
                <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete" (click)="deleteUser(user)">Borrar</button></td>

              </tr>
        </tbody>
      </table>
    </div>

<!-- Modal Borrar usuario -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <app-delete-user [user]="user" (loadUser)="loadUser()"></app-delete-user>
</div>
